/****************GENERAL STYLES***************/
body {
  background-color: #f6f4e6;
  font-family: trebuchet, sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #41444b;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
}

h2 {
  color: #41444b;
  font-family: 'Sacramento', cursive;
  font-size: 3.5rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}
/*Combined for the font size*/
p, ul {
  font-size: 1.80rem;
}
/*Combined for the color and font family*/
h3, p, ul {
  color: #41444b;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: #E6F6F6;
  font-family: 'Source Serif Pro', serif;
}

hr {
  border-style: dotted none none;
  border-width: 0.625rem;
  color: #41444b;
  margin-bottom: 6.25rem;
  margin-top: 3.75rem;
  width: 5%;
}

/***************CLASS STYLES***************/
/*Next 4 stylings are for Navigation Bar*/
.nav {
  margin: 0 auto;
  width: 80%;
}

.navbar {
  background-color: #fddb3a;
  border-radius: 0.625rem;
  line-height: 2.5rem;
  position: fixed;
  top: 2rem;
  width: 80%;
  z-index: 12;
}

.navbar a {
  color: #52575d;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5rem;
  font-weight:bold;
  letter-spacing: 0.4rem;
  margin: 0 1.5rem;
  text-decoration: none;
}

.navbar a:hover {
  color: #000;
}

.top-container {
  background-color: #fddb3a;
  padding-bottom: 3.125rem;
  padding-top: 6.25rem;
  position: relative;
}

.bottom-container {
  background-color: #52575d;
  padding: 1.875rem;
}

.specific-font {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.specific-width {
  line-height: 2;
  margin: auto;
  width: 40%;
}

.unique {
  color: #cc88db;
}

.skill-row {
  line-height: 2;
  margin: 6.25rem auto;
  text-align: left;
  width: 50%;
}

.img-pp {
  margin-top: 6.25rem;
  width: 15rem;
}

.cv {
  background-color: #cc88db;
  border: 0.125rem solid #cc88db;
  border-radius: 3.125rem;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem;
}

.backup {
  margin-top: 3.75rem;
  width: 10rem;
}

.img-specifyL {
  float: left;
  margin-right: 1.875rem;
  width: 20rem;
}

.img-specifyR {
  float: right;
  margin-left: 1.875rem;
  width: 20rem;
}

.artie {
  float: left;
  margin-right: 1.875rem;
  width: 25rem;
}

.btn {
  background-color: #cc88db;
  border: 0.125rem solid #cc88db;
  border-radius: 3.125rem;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 6rem;
  margin-top: 1rem;
  padding: 2rem;
}

.credits {
  color: #E6F6F6;
  font-size: 1rem;
}

.copyright {
  color: #E6F6F6;
  font-size: 1.5rem;
}

.footer-link {
  font-size: 1.8rem;
  margin: 1.5625rem;
}
